<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Data</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav
      class="bg-gradient-to-r from-green-400 via-green-300 to-green-100 shadow-lg"
    >
      <div class="container mx-auto">
        <div class="flex justify-between items-center p-3">
          <a href="#" class="text-white text-xl font-bold">REQUEST USER DATA</a>
          <div class="flex gap-3">
            <form method="POST" action="/logout">
              <button
                type="submit"
                class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >
                Logout
              </button>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <div class="flex-col justify-center text-center items-center">
      <h3>List of Users</h3>
      <ul>
        <form action="/request_to" method="POST">
          {% for user in result %}
          <li>
            User ID: {{ user[0] }}, Username: {{ user[1] }}
            <input type="hidden" name="user_destination" value="{{ user[0] }}" />
            <button type="submit" name="request_data" value="true" class="border-2 border-black rounded-md p-2 hover:bg-black hover:text-white">
              Request their data
            </button>
          </li>
          {% endfor %}
        </form>
      </ul>
    </div>
  </body>
</html>
