<!DOCTYPE html>
<html>
  <head>
    <title>View Data</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav
      class="bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 shadow-lg"
    >
      <div class="container mx-auto">
        <div class="flex justify-between items-center p-3">
          <p class="text-white text-xl font-bold">View Data</p>
          <div class="flex gap-3">
            <a
              href="{{ url_for('data_form') }}"
              class="text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >Back to Data Form</a
            >
            <form method="POST" action="/logout">
              <button
                type="submit"
                class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >
                Logout
              </button>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <div class="flex flex-col gap-5 justify-center items-center mt-16">
      <div
        class="flex flex-col gap-2 text-center border p-5 rounded-lg shadow-lg"
      >
        <p
          class="bg-green-200 border-2 border-green-700 text-green-700 text-center font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline w-full"
        >
          AES
        </p>
        <div class="py-2 px-4 bg-gray-200 rounded-lg text-left">
          <p><span class="font-bold">Full Name :</span> {{ full_name_aes }}</p>
          <p><span class="font-bold">Email :</span> {{ email_aes }}</p>
          <p><span class="font-bold">Phone Number :</span> {{ phone_number_aes }}</p>
          <p><span class="font-bold">Last Education :</span> {{ last_education_aes }}</p>
        </div>
      </div>
      <div
        class="flex flex-col gap-2 text-center border p-5 rounded-lg shadow-lg"
      >
        <p
          class="bg-green-200 border-2 border-green-700 text-green-700 text-center font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline w-full"
        >
          DES
        </p>
        <div class="py-2 px-4 bg-gray-200 rounded-lg text-left">
          <p><span class="font-bold">Full Name :</span> {{ full_name_des }}</p>
          <p><span class="font-bold">Email :</span> {{ email_des }}</p>
          <p><span class="font-bold">Phone Number :</span> {{ phone_number_des }}</p>
          <p><span class="font-bold">Last Education :</span> {{ last_education_des }}</p>
        </div>
      </div>
      <div
        class="flex flex-col gap-2 text-center border p-5 rounded-lg shadow-lg"
      >
        <p
          class="bg-green-200 border-2 border-green-700 text-green-700 text-center font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline w-full"
        >
          ARC4
        </p>
        <div class="py-2 px-4 bg-gray-200 rounded-lg text-left">
          <p><span class="font-bold">Full Name :</span> {{ full_name_arc4 }}</p>
          <p><span class="font-bold">Email :</span> {{ email_arc4 }}</p>
          <p><span class="font-bold">Phone Number :</span> {{ phone_number_arc4 }}</p>
          <p><span class="font-bold">Last Education :</span> {{ last_education_arc4 }}</p>
        </div>
      </div>
      <div
        class="flex flex-col gap-2 text-center border p-5 rounded-lg shadow-lg"
      >
        <a
          href="{{ url_for('data_form') }}"
          class="bg-blue-500 hover:bg-blue-700 text-white text-center font-bold py-2 px-4 rounded-lg shadow-lg focus:outline-none focus:shadow-outline w-full"
          >Back</a
        >
      </div>
    </div>
  </body>
</html>
