<!DOCTYPE html>
<html>
  <head>
    <title>View Data</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="relative min-h-screen overflow-hidden">
    <nav
      class="bg-gradient-to-r from-black via-amber-950 to-amber-600 shadow-lg fixed top-0 left-0 right-0"
    >
      <div class="container mx-auto">
        <div class="flex justify-between items-center p-3">
          <a href="/" class="text-white text-xl font-bold">NAVIGATION</a>
          <div class="flex gap-3">
            <form method="GET" action="/home">
              <button
                type="submit"
                class="text-white border-2 border-white hover:bg-white hover:text-black font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >
                HOME
              </button>
            </form>
            <form method="GET" action="/request">
              <button
                type="submit"
                class="text-white border-2 border-white hover:bg-white hover:text-black font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >
                REQUEST
              </button>
            </form>
            <form method="GET" action="/data_form">
                <button
                  type="submit"
                  class="text-white border-2 border-white hover:bg-white hover:text-black font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                >
                  FORM
                </button>
            </form>
            <form method="GET" action="/view_data">
              <button
                type="submit"
                class="text-white border-2 border-white hover:bg-white hover:text-black font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >
                VIEW
              </button>
            </form>
            <form method="POST" action="/logout">
              <button
                type="submit"
                class="text-white border-2 border-red-600 hover:bg-red-600 hover:border-red-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >
                LOGOUT
              </button>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <div class="min-h-screen flex flex-col gap-5 justify-center items-center">
      <div
        class="flex flex-col gap-2 text-center border p-5 rounded-lg shadow-lg"
      >
        <p
          class="bg-green-200 border-2 border-green-700 text-green-700 text-center font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline w-full"
        >
          AES
        </p>
        <div class="py-2 px-4 bg-gray-200 rounded-lg text-left">
          <p><span class="font-bold">Full Name :</span> {{ full_name_aes }}</p>
          <p><span class="font-bold">Email :</span> {{ email_aes }}</p>
          <p><span class="font-bold">Phone Number :</span> {{ phone_number_aes }}</p>
          <p><span class="font-bold">Last Education :</span> {{ last_education_aes }}</p>
        </div>
      </div>
      <div
        class="flex flex-col gap-2 text-center border p-5 rounded-lg shadow-lg"
      >
        <p
          class="bg-green-200 border-2 border-green-700 text-green-700 text-center font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline w-full"
        >
          DES
        </p>
        <div class="py-2 px-4 bg-gray-200 rounded-lg text-left">
          <p><span class="font-bold">Full Name :</span> {{ full_name_des }}</p>
          <p><span class="font-bold">Email :</span> {{ email_des }}</p>
          <p><span class="font-bold">Phone Number :</span> {{ phone_number_des }}</p>
          <p><span class="font-bold">Last Education :</span> {{ last_education_des }}</p>
        </div>
      </div>
      <div
        class="flex flex-col gap-2 text-center border p-5 rounded-lg shadow-lg"
      >
        <p
          class="bg-green-200 border-2 border-green-700 text-green-700 text-center font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline w-full"
        >
          ARC4
        </p>
        <div class="py-2 px-4 bg-gray-200 rounded-lg text-left">
          <p><span class="font-bold">Full Name :</span> {{ full_name_arc4 }}</p>
          <p><span class="font-bold">Email :</span> {{ email_arc4 }}</p>
          <p><span class="font-bold">Phone Number :</span> {{ phone_number_arc4 }}</p>
          <p><span class="font-bold">Last Education :</span> {{ last_education_arc4 }}</p>
        </div>
      </div>
    </div>
  </body>
</html>
