<!DOCTYPE html>
<html>
  <head>
    <title>View Data</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav
      class="bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 shadow-lg"
    >
      <div class="container mx-auto">
        <div class="flex justify-between items-center p-3">
          <p class="text-white text-xl font-bold">View Data</p>
          <div class="flex gap-3">
            <a
              href="{{ url_for('data_form') }}"
              class="text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >Back to Data Form</a
            >
            <form method="POST" action="/logout">
              <button
                type="submit"
                class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >
                Logout
              </button>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <div class="flex flex-col gap-5 justify-center items-center mt-16">
      <div
        class="blocktext-sm font-medium text-yellow-500 px-4 py-3 rounded-lg flex flex-col gap-2 bg-yellow-200 border-2 border-yellow-500"
      >
        <label class="" for="enc_dec_method"
          >Choose Encrypt / Decrypt Method</label
        >
        <form action="POST" class="flex justify-center gap-3 text-black">
          <div class="inline-block relative flex flex-col gap-2">
            <select
              id="view_enc_dec_method"
              name="enc_dec_method"
              class="text-center block appearance-none bg-gray-200 border w-fit border-gray-400 hover:border-gray-500 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
              required
            >
              <option value="AES">AES</option>
              <option value="DES">DES</option>
              <option value="ARC4">ARC4</option>
            </select>
          </div>
          <button
            type="submit"
            class="text-center text-black block appearance-none bg-gray-200 border w-fit border-gray-400 hover:border-gray-500 rounded shadow leading-tight focus:outline-none focus:shadow-outline px-4"
          >
            Submit
          </button>
        </form>
      </div>
      <div class="flex flex-col gap-2 text-center border p-5 rounded-lg shadow-lg">
        <p class="block text-xl font-medium text-gray-900 dark:text-black">
          {{ enc_dec_method }}
        </p>
        <p class="block text-sm font-medium text-gray-900 dark:text-black">
          Full Name
        </p>
        <div class="py-2 px-4 bg-gray-200 rounded-lg text-left">
          <p><span class="font-bold">Encryption :</span> {{ enc_full_name }}</p>
          <p><span class="font-bold">Decryption :</span> {{ dec_full_name }}</p>
        </div>
        <p class="block text-sm font-medium text-gray-900 dark:text-black">
          Email
        </p>
        <div class="py-2 px-4 bg-gray-200 rounded-lg text-left">
          <p><span class="font-bold">Encryption :</span> {{ enc_email }}</p>
          <p><span class="font-bold">Decryption :</span> {{ dec_email }}</p>
        </div>
        <p class="block text-sm font-medium text-gray-900 dark:text-black">
          Phone Number
        </p>
        <div class="py-2 px-4 bg-gray-200 rounded-lg text-left">
          <p>
            <span class="font-bold">Encryption :</span> {{ enc_phone_number }}
          </p>
          <p>
            <span class="font-bold">Decryption :</span> {{ dec_phone_number }}
          </p>
        </div>
        <p class="block text-sm font-medium text-gray-900 dark:text-black">
          Last Education
        </p>
        <div class="py-2 px-4 bg-gray-200 rounded-lg text-left">
          <p>
            <span class="font-bold">Encryption :</span> {{ enc_last_education }}
          </p>
          <p>
            <span class="font-bold">Decryption :</span> {{ dec_last_education }}
          </p>
        </div>
        <a
          href="{{ url_for('data_form') }}"
          class="mt-5 bg-blue-500 hover:bg-blue-700 text-white text-center font-bold py-2 px-4 rounded-lg shadow-lg focus:outline-none focus:shadow-outline w-full"
          >Back</a
        >
      </div>
    </div>
  </body>
</html>
