<!DOCTYPE html>
<html>
<head>
    <title>View Encrypted Data</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 shadow-lg">
        <div class="container mx-auto">
            <div class="flex justify-between items-center p-3">
                <a href="#" class="text-white text-xl font-bold">Encrypted Data</a>
                <div class="flex gap-3"> <!-- Add a container for the buttons and apply space utility class -->
                    <a href="{{ url_for('data_form') }}" class="text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Back to Data Form</a>
                    <form method="POST" action="/logout">
                        <button type="submit" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>    
    <div class="flex flex-col gap-5 justify-center items-center mt-16"> 
        <h1>View Encrypted Data</h1>
        <form method="POST" action="/view_data_form" class="flex flex-col">
                <div class="block mb-5 text-sm font-medium text-gray-900 dark:text-black">
                    <div class="flex flex-col gap-2">
                        <label for="data_id">Choose Data ID</label>
                        <select id="data_id" name="data_id" class="block appearance-none bg-gray-200 border border-gray-400 hover:border-gray-500 p-3 rounded shadow leading-tight focus:outline-none focus:shadow-outline" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">View</button>
        </form>
    </div>
</body>
</html>
